/* default margin and padding for common elements */
body, h1, h2, h3, p, label, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* main body styles */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
}

/* background image for hero section */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("expensify.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* centered hero text */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* header menu */
.menu {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    padding: 10px;
}

.menu-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.menu-button:hover {
    background-color: #0056b3;
}

/* header */
header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
}

/* main content container */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

/* features section */
.features {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.feature {
    text-align: center;
}

/* icon advertisements */
.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* centre icons horizontally */
    align-items: center; /* centre icons vertically */
    max-width: 1200px;
    margin: 20px auto;
}

.icon {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    flex: 1;
    max-width: calc(25% - 20px);
    box-sizing: border-box;
    margin: 10px;
}

.icon img {
    max-width: 100%;
    height: auto;
}

.icon p {
    margin-top: 10px;
    font-weight: bold;
}

/* footer */
footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .features {
        flex-direction: column; /* Stack features vertically on smaller screens */
    }

    .feature {
        margin: 10px 0; /* Add spacing between stacked features */
    }

    .icon-container {
        margin: 10px auto; /* Adjust margin for smaller screens */
    }

    .icon {
        max-width: 100%; /* Occupy full width on smaller screens */
    }
}
