/* Resetting default margin and padding for common elements */
body, h1, h2, h3, p, label, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Include padding and border in the element's total width/height */
}

/* Body styles */
body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Login container */
.login-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 400px;
    text-align: center;
}

/* Login form styles */
.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 85%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.login-form button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 40%;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form p {
    margin-top: 15px;
    color: #777;
}

.login-form a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.login-form a:hover {
    text-decoration: underline;
}

/* back button */
#backButton {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    
    /* position the button */
    position: absolute;
    top: 20px; /* adjust the distance from the top */
    left: 20px; /* adjust the distance from the left */
}

#backButton:hover {
    background-color: #0056b3;
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 768px) {
    .login-container {
        padding: 20px; /* Adjust padding for smaller screens */
        width: 90%; /* Adjust width for smaller screens */
    }

    .login-form label {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .login-form button {
        padding: 8px 12px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    #backButton {
        padding: 8px 12px; /* Adjust padding for smaller screens */
        top: 10px; /* Adjust distance from the top for smaller screens */
        left: 10px; /* Adjust distance from the left for smaller screens */
    }
}
