/* Reset default browser styles */
body, h1, h2, p, label, button, input, table {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

/* Body styles */
.body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Transaction Table styles */
#transactionTable {
    margin-bottom: 20px; /* Adjust margin for smaller screens */
}

#transactionTable h1 {
    text-align: center;
    margin-bottom: 10px; /* Adjust margin for smaller screens */
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px; /* Adjust font size for smaller screens */
}

thead th {
    background-color: #007bff;
    color: white;
    padding: 10px; /* Adjust padding for smaller screens */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

tbody td {
    padding: 10px; /* Adjust padding for smaller screens */
    border-bottom: 1px solid #ccc;
}

/* Transaction Form styles */
#transactionForm {
    text-align: center;
}

#transactionForm h2 {
    margin-bottom: 10px; /* Adjust margin for smaller screens */
}

form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px; /* Adjust padding for smaller screens */
    width: 90%; /* Adjust width for smaller screens */
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px; /* Adjust margin for smaller screens */
    font-weight: bold;
}

input[type="date"],
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px; /* Adjust padding for smaller screens */
    margin-bottom: 15px; /* Adjust margin for smaller screens */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Adjust font size for smaller screens */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 60%; /* Adjust width for smaller screens */
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

/* responsive styles for mobile devices */
@media screen and (max-width: 768px) {
    #transactionTable h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }
    
    table {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    thead th {
        padding: 8px; /* Adjust padding for smaller screens */
    }

    tbody td {
        padding: 8px; /* Adjust padding for smaller screens */
    }

    #transactionForm h2 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    form {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    label {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    input[type="date"],
    input[type="text"],
    input[type="number"] {
        padding: 10px; /* Adjust padding for smaller screens */
        margin-bottom: 10px; /* Adjust margin for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    button {
        padding: 8px; /* Adjust padding for smaller screens */
        width: 80%; /* Adjust width for smaller screens */
    }
}
